* {
    margin: 0%;
    box-sizing: border-box;
}

header {
    height: 54px;
    display: inline-flex;


}

#nav_div1 {
    padding: 10px;
    display: flex;


}

.nav-title {
    font-size: 13px;
}

.header-title {
    margin-top: 0px;
    margin-left: 15px;
    font-size: 17px;

}

.dropdown-toggle::after {
    margin-left: 0;
    vertical-align: 0.1em;
    content: '';
}

.header-title:hover {
    text-decoration: underline;
}

.nav_div2 {
    padding-left: 15px;
    font-size: 14px;
    margin-right: 272px;
    display: flex;
}

.nav_div2 li {
    display: flex;
    padding: 20px 8px;


}

.nav_div2 li img {
    width: 8px;
    height: 8px;
    margin-left: 5px;
    margin-top: 5px;

}

.header_search {

    width: 125px;
    margin: 10px 0;
    background-color: #f8f9fa;
    border-radius: 4px;
    border-color: #747479;
    border: 1px solid #747479;
    height: 32px;
    padding: 8px 8px;
    display: flex;
    margin-right: 24px;

}


.header_search label {
    margin-right: 40%;
    font-size: 13;
    color: #a7a7b2;
}

.nav_div3 {
    font-size: 14px;
    display: flex;
    width: fit-content;
    padding-left: 0;

}

.nav_div3 li {
    display: flex;
    padding: 20px 8px;

}

.free_account {
    background-color: #6f9e02;
    border-radius: 4px;
    margin: 10px 0;
    border: 1px solid #6f9e02;
    align-items: center;


}

.free_account:hover {
    background-color: #9bdd02;
}

.nav_div3 li:hover {
    text-decoration: underline;

}

.textOverImage {
    position: relative;
    width: 100%;
}

.firstImage {
    width: 100%;
    zoom: 5%;
    height: max-content;
    position: relative;

}

.insideImage {
    position: absolute;
    top: 20%;
    left: 5%;
    line-height: 2.0rem;



}

.btn1 {
    height: auto;
    padding: 10px 15px;
    background-color: #1174cb;
    color: white;
    border-radius: 5px;
    border: 1px solid #1174cb;
}

.btn2 {
    margin-left: 10px;

    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid black;

}

.container-fluid {
    justify-content: normal !important;
    margin-left: 40px;
}

.container-fluid a {
    font-size: 12px;
    color: rgb(65, 57, 57);
    margin-left: 25px;
}

#featured {
    margin: 75px;
}

.container {
    margin-top: 75px !important;
   
}

.card {
    margin: 0 !important;
    height: 500px;
}

.card_label {
    margin-left: 10px;
    text-decoration: none;
    color: #243a5e;
    font-weight: 600;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
    letter-spacing: -.02em;
}

.btn {
    --bs-btn-line-height: 18px !important;
    --bs-btn-padding-x: 0.6rem !important;
}

/* solutions */
#solutions .nav-item {
    border-radius: 5px;
    background-color:#b0d5f2;
   border-radius: 12.5rem;
    margin-right: 10px;
}

#solutions .container-fluid {
    margin: 0px !important;
    padding: 0;
    
}
#solutions .container-fluid a{
    margin-left: 0 !important;
}
#solutions .nav-link{
   padding-right: 1.5rem !important;
   padding-left: 1.5rem !important;
   font-weight: 600;
  
   color: #243a5e;
   font-size: 15px;
}

.accordion-item{
    --bs-accordion-btn-padding-x: 2.50rem !important;
    --bs-accordion-btn-padding-y: 2rem !important;
    border-left: hidden !important;
    border-right: hidden !important;
}
.accordion_img img{
    margin-left: 15%;
 
}
#accordion_1 {
    margin-top: 30px;
}